## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import the requests library.
import requests
import gmaps

# Import the API key.
from config import weather_api_key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(40)

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
0,10,Mackenzie,CA,17.82,light snow,55.2999,-123.1698,Hilton Shop
1,15,Qaanaaq,GL,14.09,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
2,72,Maniitsoq,GL,17.20,broken clouds,65.4167,-52.9000,Hotel Heilmann Lyberth
3,165,Ilulissat,GL,17.62,broken clouds,69.2167,-51.1000,Hotel Arctic
4,166,Fairbanks,US,15.03,overcast clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
5,191,Saint Anthony,US,15.31,light snow,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
6,385,Przhevalskoye,RU,15.44,overcast clouds,55.5093,31.8482,Next Camp
7,430,Smithers,CA,17.92,light snow,54.7804,-127.1743,"Prestige Hudson Bay Lodge, Premier Collection"
8,494,Huanren,CN,14.92,scattered clouds,41.2647,125.3667,Dynasty Wunvshan Ice Chateau
9,559,Zhigalovo,RU,14.20,overcast clouds,54.8097,105.1578,"Hotel ""Lenatur"""
10,590,Nuristan,AF,16.68,clear sky,35.3000,70.8333,لَکچُک هوټل
11,612,Ventspils,LV,17.53,light snow,57.3894,21.5606,Jūras brīze

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.

In [6]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
                                      
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Fairbanks"]
vacation_start

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
4,166,Fairbanks,US,15.03,overcast clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center

In [7]:
vacation_end = vacation_df.loc[vacation_df['City'] == "Fairbanks"]
vacation_end

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
4,166,Fairbanks,US,15.03,overcast clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center

In [8]:
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Smithers"]
vacation_stop1

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
7,430,Smithers,CA,17.92,light snow,54.7804,-127.1743,"Prestige Hudson Bay Lodge, Premier Collection"

In [9]:
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Mackenzie"]
vacation_stop2

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
0,10,Mackenzie,CA,17.82,light snow,55.2999,-123.1698,Hilton Shop

In [10]:
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Saint Anthony"]
vacation_stop3

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
5,191,Saint Anthony,US,15.31,light snow,45.0205,-93.218,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f' Start:{start}, End:{end}')
print(f' Stop1:{stop1}, Stop2:{stop2}, Stop3:{stop3}')

 Start:(64.8378, -147.7164), End:(64.8378, -147.7164)
 Stop1:(54.7804, -127.1743), Stop2:(55.2999, -123.1698), Stop3:(45.0205, -93.218)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")

fig.add_layer(city_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
0,166,Fairbanks,US,15.03,overcast clouds,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
1,430,Smithers,CA,17.92,light snow,54.7804,-127.1743,"Prestige Hudson Bay Lodge, Premier Collection"
2,10,Mackenzie,CA,17.82,light snow,55.2999,-123.1698,Hilton Shop
3,191,Saint Anthony,US,15.31,light snow,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))